[MASTER]
persistent=no
extension-pkg-whitelist=lxml

[MESSAGES CONTROL]
disable=missing-module-docstring,missing-class-docstring,missing-function-docstring,bad-whitespace,invalid-name,unused-argument,line-too-long,len-as-condition,duplicate-code

[REPORTS]
output-format=text
